body {
    margin: 0;
    background-color: rgb(53, 255, 231);
}

body h1 {
    text-align: center;
    text-transform: capitalize;
    text-shadow: 2px;
    font-weight: 600;
    font-family: sans-serif;
    font-size: large;
    border-radius: 10px;
    background-color: rgb(139, 104, 6);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5px;
    width: 130px;
    color: rgb(192, 178, 178);

}

body p {
    font-family: sans-serif;
    color: rgb(28, 73, 5);
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: fit-content;
    max-width: 360px;
}

body p#score {
    border: 1px solid rgb(28, 73, 5);;
    padding: 4px;
}

body #sketch-holder {
    margin:auto;
    padding: 0;
    display: block;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body div#arrow-container {
    padding: 4px;
    display:flex;
    justify-content:center;
    align:center;
    items:center;
    gap:8px;
}

body div div.arrow {
    border: 1px solid rgb(28, 73, 5);;
    padding: 6px;
    cursor:pointer;
    
}


